#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.Workspace {
  width: 100%;
  display: flex;
  flex-direction: column;
}

.Tabs {
  display: flex;
  gap: 0.5em;
  overflow: auto;
  scrollbar-width: none;
}

.Tab {
  flex-shrink: 0;
}

.Menus {
  position: sticky;
  right: 0;
  top: 0;
  display: flex;
  gap: 0.5;
}